[submodule "bernoulli"]
	path = bernoulli
	url = https://github.com/loopspace/bernoulli.git
[submodule "poisson"]
	path = poisson
	url = https://github.com/loopspace/bernoulli.git
	branch = poisson
[submodule "statistics"]
	path = statistics
	url = https://github.com/loopspace/statistics.git
[submodule "MathJaxToMathML"]
	path = MathJaxToMathML
	url = https://github.com/loopspace/MathJaxToMathML.git
[submodule "trigonometry"]
	path = trigonometry
	url = https://github.com/loopspace/trigonometry.git
[submodule "chaos"]
	path = chaos
	url = https://github.com/loopspace/chaos.git
[submodule "Sociogram"]
	path = Sociogram
	url = https://github.com/loopspace/Sociogram.git
[submodule "Polyominoes"]
	path = Polyominoes
	url = https://github.com/loopspace/Polyominoes.git
[submodule "LuaCanvas"]
	path = LuaCanvas
	url = https://github.com/loopspace/LuaCanvas.git
[submodule "Arithmetic"]
	path = Arithmetic
	url = git@github.com:loopspace/Arithmetic.git
