[submodule "bernoulli"]
	path = bernoulli
	url = https://github.com/loopspace/bernoulli.git
[submodule "poisson"]
	path = poisson
	url = https://github.com/loopspace/bernoulli.git
	branch = poisson
[submodule "statistics"]
	path = statistics
	url = https://github.com/loopspace/statistics.git
[submodule "MathJaxToMathML"]
	path = MathJaxToMathML
	url = https://github.com/loopspace/MathJaxToMathML.git
